<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/">Customer Management</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul *ngIf="currentUser" class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/clients">
                    <i class="fa fa-home"></i>
                    Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/create">
                    <i class="fa fa-user-plus"></i>
                    New client</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li *ngIf="!currentUser" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/register"> 
                    <i class="fa fa-user-circle"></i>
                    Register</a>
            </li>
            <li *ngIf="!currentUser" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/login">
                    <i class="fa fa-sign-in"></i>
                    Login</a>
            </li>
            <li *ngIf="currentUser" class="nav-item" routerLinkActive="active">
                <button class="nav-link btn-logout">
                    <i class="fa fa-user-circle"></i>
                    {{currentUser.email}}</button>
            </li>
            <li *ngIf="currentUser" class="nav-item" routerLinkActive="active">
                <button class="nav-link btn-logout" (click)="logout()">
                    <i class="fa fa-sign-out mr-1"></i>
                    Logout</button>
            </li>
        </ul>
    </div>
</nav>