<div class="row my-4">
    <div class="col-md-6">
        <h1>New Client</h1>
    </div>
    <div class="col-md-6 text-right">
        <a routerLink="/clients" class="btn btn-link">
            <i class="fa fa-arrow-left mr-2"></i>Back to list
        </a>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6 mx-auto">
        <div class="form">
            <div class="form-group">
                <label for="firstName">firstName</label>
                <input type="text" class="form-control" id="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">lastName</label>
                <input type="text" class="form-control" id="lastName">
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="Email">
            </div>
            <div class="form-group">
                <label for="Phone">Phone</label>
                <input type="text" class="form-control" id="Phone">
            </div>
            <div class="form-group">
                <label for="Balance">Balance</label>
                <input type="text" class="form-control" id="Balance">
            </div>
            <button class="btn btn-primary btn-block">
                <i class="fa fa-send"></i>Add Client
            </button>
        </div>
    </div>
</div>